<h1>Welcome to the Helpdesk</h1>

<p>
  <%= link_to 'Submit a new help request!', new_help_request_path, class: "font-weight-bold" %>
</p>

<h2>Pending Requests</h2>

<table class="table table-hover">
  <thead class="table-primary">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Description</th>
      <th>Priority</th>
    </tr>
  </thead>
  <tbody>
    <% help_requests.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.email %></td>
        <td><%= r.description %></td>
        <td><%= r.priority %></td>
      </tr>
    <% end %>
  </tbody>
</table>
