<h1 class="my-4">Lease</h1>

<ul>
  <li><%= lease.rental %></li>
  <li><%= lease.tenant %></li>
  <li>$<%= lease.monthly_rent %></li>
  <li>$<%= lease.deposit %></li>
</ul>

<p>
  <%= link_to '< Home', root_path %>
</p>
