<!DOCTYPE html>
<html>
  <head>
    <title>Skills Test</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash[:success] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:success] %>
      </div>
    <% end %>

    <% if flash[:danger] %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:danger] %>
      </div>
    <% end %>

    <main class="container">
      <%= yield %>
    </main>

  </body>
</html>
